@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Bold.woff2);
}

@font-face {
    font-family: RobotoRegular;
    src: url(../assets/fonts/Roboto-Regular.woff2);
}
 
:root{
    --ghost-white: #F2F2F2;
    --subtle-grey: #E0E0E0;
    --light-grey: #1e1e1e;
    --dark-grey: #171717;
    --darker-grey: #121212;

    --white-blue: #afc3c0;
    --link-blue:#6f87bf;
    --dark-blue: #0b131e;

    --light-beige: #deddd0;
    --dark-beige: #818181;
    --darker-beige: #282725;
    
    --standard-margin: clamp(4%, calc(4% + 160 * ((100vw - 950px) / 600)), 20%);
    --font-min: 0.9rem;
    --font-clamp: 2.5vw;
    --font-max: 1rem;
    --standard-indentation: 20px; 
    
    font-family: Roboto;
    scrollbar-width: auto;
    scrollbar-color: var(--secondary-color) transparent;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.lightmode{
    --background-color: var(--subtle-grey);
    --text-color: #373830;
    --title-color: #373830;
    --header-color: #464646;
    --secondary-color: var(--dark-beige);
    --primary-blue: #384d7d;
    --contrast-dark : #6d6d6d;
}

.darkmode{
    --background-color: #0b0b0b;
    --text-color: var(--subtle-grey);
    --title-color: var(--ghost-white);
    --header-color: var(--dark-beige);
    --secondary-color: var(--dark-beige);
    --primary-blue: var(--link-blue);
    --contrast-dark: var(--darker-beige);
}

body{
    background-color: var(--background-color);
}

/* ---------- Scrollbar ---------- */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border: 0px none var(--background-color);
    border-radius: 2px;
}



/* -------- Lateral Bar -------- */
.lateralBar{
    position: fixed;
    top: 0px;
    height: 99vh;
    padding: 20px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.media-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
    padding: 10px 5px;
}

.media-icons> li> a> svg, .blog-icons> li> a> svg{
    height: 25px !important;
    width: 25px !important;
    color: var(--text-color);
}

.themeSwitch{
    background-color: transparent;
    cursor: pointer;
}

.themeSwitch > svg, .dropThemeSwitch > svg{
    fill: var(--text-color);
    height: 25px;
    width: 25px;
}

.languageToogler, .themeSwitch{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border: none;
    margin: auto;
    color: var(--header-color);
}

.verticalLine{
    margin: 10px 0;
    height: 100%;
    width:2px;
    background-color: var(--header-color);
    border-radius: 1px;
}

.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px
}

@media (max-width: 430px) {
   .lateralBar{
        height: 20px;
        width: 100%;
        padding: 0 10px;
        flex-direction: row;
        top: 96vh
   } 

   .verticalLine{
        display: none;
   }

   .lateralBar > *{
        flex-direction: row;
        gap: 10px;
   }

   .settings{
        padding: 0;
        gap: 10px;
   }

   .languageToogler, .themeSwitch{
        padding: 0;
   }
}

a > svg, button >svg{
    transition: transform 250ms, color 250ms; 
}

a > svg:hover, button >svg:hover{
    transform: scale(1.12);
    transform: translateY(-2px);
    color: var(--primary-blue) !important;
}

/* ------------ Main ------------ */
h1{
    color: var(--header-color);
    font-size: 1.8rem;
}

h2{
    color: var(--text-color);
    font-size: 2.0rem;
}

