@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Bold.woff2);
}

@font-face {
    font-family: RobotoRegular;
    src: url(../assets/fonts/Roboto-Regular.woff2);
}
 
:root{
    --ghost-white: #F2F2F2;
    --subtle-grey: #E0E0E0;
    --light-grey: #1e1e1e;
    --dark-grey: #171717;
    --darker-grey: #121212;

    --white-blue: #afc3c0;
    --link-blue:#6f87bf;
    --dark-blue: #0b131e;

    --light-beige: #deddd0;
    --dark-beige: #818181;
    --darker-beige: #282725;
    
    --standard-margin: clamp(4%, calc(4% + 160 * ((100vw - 950px) / 600)), 20%);
    --font-min: 0.9rem;
    --font-clamp: 2.5vw;
    --font-max: 1rem;
    --standard-indentation: 20px; 
    
    font-family: Roboto;
    scrollbar-width: auto;
    scrollbar-color: var(--secondary-color) transparent;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.lightmode{
    --background-color: var(--subtle-grey);
    --text-color: #373830;
    --title-color: #373830;
    --header-color: #464646;
    --secondary-color: var(--dark-beige);
    --primary-blue: #384d7d;
    --contrast-dark : #6d6d6d;
}

.darkmode{
    --background-color: #1A1818;
    --text-color: var(--subtle-grey);
    --title-color: var(--ghost-white);
    --header-color: var(--dark-beige);
    --secondary-color: var(--dark-beige);
    --primary-blue: var(--link-blue);
    --contrast-dark: var(--darker-beige);
}

a, button{
    transition: transform 0.1s ease, background-color 0.15s ease, opacity 0.3s;
    -webkit-tap-highlight-color: transparent;
}

a:active, button:active {
    transform: scale(0.97);   
    background-color: rgba(255, 255, 255, 0.05);
}

a:hover, button:hover{
    opacity: 70%;
}

body{
    background-color: var(--background-color);
}

/* ---------- Scrollbar ---------- */
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border: 0px none var(--background-color);
    border-radius: 2px;
}

/* ---------- Navbar ---------- */ 
.navbar{
    height: 64px;
    width: calc(100% - 12px);
    margin: 6px 6px 0 6px;
    padding: 0 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar > h1{
    font-size: 1.6rem;
    text-shadow: 1px 1px 2px var(--contrast-dark);
}

.nav-links > *, .nav-links> button{
    cursor: pointer;
    transition: opacity 0.3s ease 0s;
    color:var(--header-color);
}

.nav-links{
    display: flex;
    align-items: center;
    gap: clamp(25px, 2.2vw, 100px);
    font-size: 1.1rem;
}

.burgerMenu{
    display: none;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: right;
}

.dropdownNavMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: calc(5px * 8 + 1.1rem*4 + 30px);
    transition: height 200ms, opacity 120ms;
    position: absolute;
    width: 100%;
    border-bottom: none;
    opacity: 0;
    height: 0px;
}

.dropdownNavMenu > a, .dropdownNavMenu > button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 1.2rem;
    padding: 5px;
    border: none;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    font-family: Roboto;
    transition: background-color 500ms;
}

.dropdownNavMenu > span{
    background: #203838;
    background: linear-gradient(270deg,rgba(32, 56, 56, 0) 0%, rgba(92, 94, 79, 1) 10%, rgba(92, 94, 79, 1) 90%, rgba(17, 21, 22, 0) 100%);
    width: 100%;
    height: 9px;
    opacity: 0.2;
    transition: background-color 500ms;
}

.deployed{
    opacity: 1;
    background-color: var(--background-color);
    height: 150px;
}

.menuIcon{
    width: 42px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: transparent;
    border: none;
}

.menuIcon > span{
    width: 100%;
    height: 4px;
    background-color: var(--text-color);
    border-radius: 2px;
    box-shadow: 1px 1px 2px var(--contrast-dark);
}

.themeSwitch{
    background-color: var(--background-color);
    cursor: pointer;
}

.themeSwitch > svg, .dropThemeSwitch > svg{
    fill: var(--text-color);
}

.languageToogler, .themeSwitch{
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--header-color)  solid 2px;
    border-radius: 5px;
    padding: 0 10px;
    margin: auto;
    color: var(--header-color);
}

main{
    margin: 50px var(--standard-margin);
    padding-top: 60px;
}

h2{
    color: var(--text-color);
    font-size: 2.4rem;
}

.subtitle{
    color: var(--header-color);
    font-size: 2rem;
    margin-left: 40px;
}

@media (max-width: 580px){
    .nav-links{
        display: none;
    }
    
    .burgerMenu{
        display: flex;
    }

    .deployed{
        display: flex;
    }

    .navbar{
        padding: var(--standard-margin);
    }

    h2{
        text-align: center;
    }

    .subtitle{
        margin-left: 0;
        text-align: center;
    }
}

.spanSeparator{
    background-color: #203838;
    background: linear-gradient(270deg,rgba(32, 56, 56, 0) 0%, rgba(92, 94, 79, 1) 10%, rgba(92, 94, 79, 1) 90%, rgba(17, 21, 22, 0) 100%);
    width: 100%;
    height: 2px;
    opacity: 0.2;
    margin: 25px 0;
}

.item{
    color: var(--text-color);
    margin: 25px 0;
}

.itemTitle{
    font-size: 1.6rem;
}

.itemDescription{
    font-size: 1.2rem;
    padding-left: 10px;
    border-left: 2px solid var(--header-color);
    font-family: RobotoRegular;
    margin: 10px 10px;
}

.itemLanguage{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 6px;
}