@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Bold.ttf);
  }

:root{
    --primary-color: #0a121c;
    --secondary-color: #ffffff;
    --terciary-color:#ffffff;
    --text-color: #deddd0;
    --text-secondary-color: #818181;
    --sb-thumb-color: #232E33;
    font-family: Roboto;
    color-scheme: dark;
    background-color: var(--primary-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scrollbar-width: auto;
    scrollbar-color: #232e33 #0a121c;
}

/* ---------- Navbar ---------- */ 
.navbar{
    height: 64px;
    width: calc(100% - 12px);
    margin: 6px 6px 0 6px;
    padding: 0 6vw;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

.navbar > h1{
    font-size: 1.6rem;
    color: var(--text-color);
    text-shadow: 1px 1px 2px var(--primary-color);
}

li a{
    text-decoration: none;
    color: var(--text-color);
    text-shadow: 1px 1px 2px var(--primary-color);
}

.nav-links li{
    padding: 0 20px;
    display: inline-block;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: var(--secondary-color);
}



/* ---------- Mobile Menu ---------- */ 
#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
      
#menuToggle input{
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
      
#menuToggle span{
    display: flex;
    width: 36px;
    height: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
    background: var(--text-color);
    border-radius: 3px;
    z-index: 1;
}

#lateralMenu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
#lateralMenu a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--text-secondary-color);
    display: block;
    transition: 0.3s;
}
  
#lateralMenu a:hover{
    color: #f1f1f1;
}
  
#lateralMenu .closebtn{
    position: absolute;
    top: 8px;
    right: 13px;
    font-size: 36px;
    margin-left: 50px;
}

/* ---------- Parallax ---------- */ 
.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}
  
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transform-style: preserve-3d;
    z-index: -1;
}
  
.background {
    transform: translateZ(-18px) scale(2.85);
    background-image: url("../assets/imgs/Last_Layer.png");
}
  
.rightground {
    transform: translateZ(-14px) scale(2.45);
    background-image: url("../assets/imgs/Right_Medium.png");
}
  
.leftground {
    transform: translateZ(-10px) scale(2.05);
    background-image: url("../assets/imgs/Left_Medium.png");
}
  
.foreground{
    transform: translateZ(0) scale(1);
    background-image: url("../assets/imgs/First_Layer.png");
}
  
.background,
.rightground,
.leftground,
.foreground {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
}
  
.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  
    margin-top: -610px;
    transform: translateZ(-15px) scale(2.55);
}
  
.title {
    position: absolute;
    margin: auto;
    font-size: 5rem;
    color: var(--terciary-color);
    text-shadow: 0 0 5px black;
}



/* ---------- Main Page ---------- */ 
main {
    background-color: var(--primary-color);
    color: var(--text-color);
    margin-top: -1px;
}

.presentation{
    min-height: 100vh;
    width: 100%;
}

.introduction{
    display: flex;
    padding-top: 300px;
    justify-content: center;
}

.introduction-image{
    height: 300px;
    width: 600px;
    background-color: #222831; 
    border-radius: 10px;
    overflow: hidden;
}

.introduction-text{
    width: 400px;
    font-size: 1.4rem;
}

.introduction-wrapper{
    margin-top: 30px;
}

h2{
    display: inline;
    font-size: 3rem;
}

.image-nav{
    background-color: var(--terciary-color);
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    vertical-align: middle;
    padding-left: 30px;
    line-height: 30px;
    color: var(--primary-color);
}

.text{
    margin-left: 10px;
}