@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto-Bold.ttf);
  }

:root{
    --primary-color: #010101;
    --secondary-color: #ffffff;
    font-family: Roboto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}


/* ---------- Navbar ---------- */ 
.navbar{
    height: 64px;
    width: calc(100% - 12px);
    margin: 6px 6px 0 6px;
    padding: 0 2vw;
    background-color: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.navbar > h1{
    font-size: 1.6rem;
}

li a{
    text-decoration: none;
    color: var(--primary-color);
}

.nav-links li{
    padding: 0 20px;
    display: inline-block;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #0088a9
}


/* ---------- First Slide ---------- */ 
.first-slide{
    height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
}


/* ---------- Second Slide ---------- */ 
.second-slide{
    height: 100vh;
    width: 100%;
    background-color: var(--secondary-color);
}










/* ---------- Mobile Menu ---------- */ 
#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
      
#menuToggle input{
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
      
#menuToggle span{
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: var(--primary-color);
    border-radius: 3px;
    z-index: 1;
}

#lateralMenu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
#lateralMenu a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
#lateralMenu a:hover{
    color: #f1f1f1;
}
  
#lateralMenu .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}