@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto-Bold.ttf);
  }

:root{
    --primary-color: #0b131e;
    --secondary-color: #ffffff;
    --text-color: #818181;
    --sb-track-color: #232E33;
    --sb-thumb-color: #1a1b1f;
    --sb-size: 14px;
    font-family: Roboto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


/* ---------- Navbar ---------- */ 
.navbar{
    height: 64px;
    width: calc(100% - 12px);
    margin: 6px 6px 0 6px;
    padding: 0 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10;
}

.navbar > h1{
    font-size: 1.6rem;
}

li a{
    color: var(--primary-color);
}

.nav-links li{
    padding: 0 20px;
    display: inline-block;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: var(--text-color);
}


/* ---------- First Slide ---------- */ 
.first-slide{
    height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
}

.parallax-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.parallax-layer {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#first-layer{
    background-image: url("assets/fonts/2.png");
    z-index: 3;
}

#second-layer{
    background-image: url("assets/fonts/1.png");
    z-index: 2;
}

#third-layer{
    background-image: url("assets/fonts/1.png");
    z-index: 1;
}



/* ---------- Second Slide ---------- */ 
.second-slide{
    height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
}








/* ---------- Mobile Menu ---------- */ 
#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
      
#menuToggle input{
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
      
#menuToggle span{
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: var(--primary-color);
    border-radius: 3px;
    z-index: 1;
}

#lateralMenu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
#lateralMenu a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--text-color);
    display: block;
    transition: 0.3s;
}
  
#lateralMenu a:hover{
    color: #f1f1f1;
}
  
#lateralMenu .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* ---------- Scrollbar ---------- */ 

 body::-webkit-scrollbar {
    width: var(--sb-size)
}
  
body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}
  
body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    
}
  
@supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
}